## Working directly with the database
The algokitchen database is called **cookbook.db**, to use it we need to load the *sqlitemagic* etension into this notebook, using the statement bellow. The **cookbook.db** is pretty large, around 1Gb in size, so if you want to run small experiments and mess around with a smaller dataset use **cookbook-small.db**.

In [10]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

[autoreload of sqlitemagic failed: Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/IPython/extensions/autoreload.py", line 247, in check
    superreload(m, reload, self.old_objects)
ImportError: No module named sqlitemagic
]

In [11]:
%reload_ext sqlitemagic

## Querying the cookbook
The cookbook has three major tables: **foodstuffs** which contains the names of food items like the ones you would go shopping for. **ingredients** which contains specific quantities and preparations to be included in a recipe. **preparations** which contains the steps necessary to prepare a dish and **recipes** which contains a listing of all known recipes.

To query the cookbook we will be talking directly to the database using a language called [SQL](http://www.sqlcourse.com/intro.html).

### Foodstuffs
Foodstuffs all have a name and *normalized* name. Normalization is often just the name of the ingredient in lowercase letters and with singular words. Get yourself familiar with the *SELECT* syntax, that's the way you can fetch data from the database. The *LIKE* operator matches rows loosely, the *%* character is used to indicate *any text*.

In [12]:
%%sqlite data/cookbook.db
SELECT id, name, normalized FROM foodstuffs WHERE name LIKE "%cheese%";

Try and change the query above for a more specific one matching 'gin'.

In [13]:
%%sqlite data/cookbook.db
SELECT id, name, normalized FROM foodstuffs WHERE name LIKE "gin";

This shows that our database is not so clean after all. We found two matches, but they are in fact the same **foodstuff*.

Also notice that "gin" matches both "Gin" and "gin", so the query is case insensitive.

In [14]:
%%sqlite data/cookbook.db
SELECT id, name FROM recipes LIMIT 10, 10;

In [15]:
%%sqlite data/cookbook.db
SELECT r.id, r.name 
FROM recipes r 
JOIN recipes_ingredients r2i 
ON r2i.recipe_id = r.id 
WHERE r2i.ingredient_id 
IN (
    SELECT i.id 
    FROM ingredients i, 
    foodstuffs fs 
    JOIN ingredients_foodstuffs i2f 
    ON (i2f.ingredient_id = i.id AND i2f.foodstuff_id = fs.id) 
    WHERE fs.name LIKE "apricot"
);